<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.dooble.phonertc"
    version="2.1.0">

	<name>PhoneRTC</name>
	<description></description>
	<license></license>

	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>

	<dependency id="cordova-plugin-compat" version="^1.0.0" />

	<js-module src="www/phonertc.js" name="PhoneRTC">
        	<clobbers target="cordova.plugins.phonertc" />
	</js-module>

	

    <platform name="android">
        <source-file src="src/android/com/dooble/phonertc/PhoneRTCPlugin.java" target-dir="src/com/dooble/phonertc" />
        <source-file src="src/android/com/dooble/phonertc/Session.java" target-dir="src/com/dooble/phonertc" />
		<source-file src="src/android/com/dooble/phonertc/SessionConfig.java" target-dir="src/com/dooble/phonertc" />
        <source-file src="src/android/com/dooble/phonertc/VideoGLView.java" target-dir="src/com/dooble/phonertc" />
    	<source-file src="src/android/com/dooble/phonertc/VideoConfig.java" target-dir="src/com/dooble/phonertc" />
    	<source-file src="src/android/com/dooble/phonertc/VideoTrackRendererPair.java" target-dir="src/com/dooble/phonertc" />
    	
        <config-file target="res/xml/config.xml" parent="/*">
			<feature name="PhoneRTCPlugin">
				<param name="android-package" value="com.dooble.phonertc.PhoneRTCPlugin" />
			</feature>	
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-feature android:name="android.hardware.camera" android:required="true" />
			<uses-feature android:name="android.hardware.camera.autofocus" />
			<uses-feature android:glEsVersion="0x00020000" android:required="true"></uses-feature>		
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
			<uses-permission android:name="android.permission.RECORD_AUDIO" />
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.CAMERA" />
        </config-file>

        <source-file src="libs/android/libjingle_peerconnection.jar" target-dir="libs"/>
		<source-file src="libs/android/armeabi-v7a/libjingle_peerconnection_so.so" target-dir="libs/armeabi-v7a"/>
    </platform>

    <platform name="browser">
        <config-file target="config.xml" parent="/*">
            <feature name="PhoneRTCPlugin">
                <param name="browser-package" value="PhoneRTCPlugin" />
            </feature>
        </config-file>

        <js-module src="src/browser/PhoneRTCProxy.js" name="PhoneRTCProxy">
            <runs />
        </js-module>    
    </platform>
</plugin>
